---
title: インデックス
---

{% extends "base.njk" %}

{% block content %}
<div class="container">
  <h1>JS勉強サイト</h1>
  <section class="recipes">
  {%- for page in collections.all -%}
  {%- if page.data.listDisplay %}
    <article class="recipe">
      <div>
        <h2>{{page.data.title}}</h2>
      </div>
      <p>{{ page.data.discription }}</p>
      <a href="{{ page.url }}" class="btn">{{page.inputPath}}</a>
    </article>
  {%- endif %}
  {%- endfor -%}
  </section>
</div>
{% endblock %}
