<header>
  <div class="container">
    <nav>
      <ul class="g-nav">
        <li><a href="#">ナビ1</a></li>
        <li><a href="#">ナビ2</a></li>
        <li><a href="#">ナビ3</a></li>
        <li><a href="#">ナビ4</a></li>
      </ul>
    </nav>
  </div>
</header>
