---
title: 文字エンコード・デコード
listDisplay: true
---
{% extends "base.njk" %}

{% block content %}
  <style>
    .flex-cont {
      display: flex;
      padding: 0.5rem 0;
    }

    .flex-cont > button,
    .flex-cont > input {
      margin-right: 0.5rem;
    }

    .flex-cont > button {
      width: 6rem;
    }

    .flex-cont > p {
      word-break: break-all;
      width: 70%;
    }
  </style>
  <h1>{{title}}</h1>

  <div class="flex-cont"><input type="text" class="encode">
    <button class="en_btn">エンコード</button>
    <p class="encode_change"></p>
  </div>

  <div class="flex-cont"><input type="text" class="decode">
    <button class="de_btn">デコード</button>
    <p class="decode_change"></p>
  </div>

  <script>
    const encode = document.querySelector('.encode');
    const encodeChangeText = document.querySelector('.encode_change');
    const encodeBtn = document.querySelector('.en_btn');
    const decode = document.querySelector('.decode');
    const decodeChangeText = document.querySelector('.decode_change');
    const decodeBtn = document.querySelector('.de_btn');

    encodeBtn.addEventListener('click', function () {
      const encodeValue = encode.value;
      const encodeText = encodeURI(encodeValue);
      encodeChangeText.innerText = encodeText;
    });

    decodeBtn.addEventListener('click', function () {
      const decodeValue = decode.value;
      const decodeText = decodeURI(decodeValue);
      decodeChangeText.innerText = decodeText;
    });
  </script>

</div>
{% endblock %}
