---
title: クロージャー
description: クロージャーの実装
listDisplay: true
---
{% extends "base.njk" %}

{% block content %}
  <h1>{{ title }}</h1>
  <p>
    <span data-count-up>0</span>回クリックしたよ
  </p>
  <button data-closer-button>Click me</button>
{% endblock %}
