.button__wrapper {
  margin-top: 1.2rem;
}

.button {
  position: relative;
  display: inline-block;
  padding: 0.8rem;
  color: #fff;
  background-color: #006400;
  border-radius: 8px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
  transition: all 0.4s;
  transform: translateY(0);
  &:hover {
    box-shadow: none;
    transform: translateY(2px);
  }
}
