---
title: グラデーションカラー
listDisplay: true
---
{% extends "base.njk" %}

{% block content %}
  <h1>{{title}}</h1>

  <style>
    .rectangle {
      width: 100%;
      height: calc(100vh - 50px);
      --start: hsl(0, 100%, 50%);
      --end: hsl(322, 100%, 50%);
      background-image: linear-gradient(-135deg, var(--start), var(--end));
      margin: 1rem;
    }
  </style>

  <div>
    <pre>
      <code>
        const rectangle = document.querySelector('.rectangle');

        document.querySelector('.button').addEventListener('click', onClickButton);

        function onClickButton(){
          const randomHue = Math.trunc(Math.random() * 360);
          const randomColorStart = 'hsl(' + randomHue +', 100%, 50%)';
          const randomColorEnd = 'hsl(' + (randomHue + 40) +', 800%, 20%)';

          rectangle.style.setProperty('--start', randomColorStart);
          rectangle.style.setProperty('--end', randomColorEnd);
        }
      </code>
    </pre>
  </div>

  <button class="button">カラー変更</button>

  <div class="rectangle"></div>

  <script>
    const rectangle = document.querySelector('.rectangle');

    document
      .querySelector('.button')
      .addEventListener('click', onClickButton);

    function onClickButton() {
      const randomHue = Math.trunc(Math.random() * 360);
      const randomColorStart = 'hsl(' + randomHue + ', 100%, 50%)';
      const randomColorEnd = 'hsl(' + (
      randomHue + 40) + ', 800%, 20%)';

      rectangle
        .style
        .setProperty('--start', randomColorStart);
      rectangle
        .style
        .setProperty('--end', randomColorEnd);
    }
  </script>

{% endblock %}
