body {
  font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
  color: #333;
}

h1 {
  margin-top: 1rem;
}

a {
  color: #333;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
