<head>
  <title>{{ siteData.title }}：{{ title }}</title>
  <meta charset="UTF-8">
  {%-  if description %}
    <meta name="description" content="{{ description }}">
  {%- else %}
    <meta name="description" content="JS勉強用のサイトです。">
  {%- endif %}
  <link href="/assets/css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
  <header class="header">
    <nav class="global-navigation">
      <ul class="global-navigation__inner">
        <li>
          <a href="#">ナビ1</a>
        </li>
        <li>
          <a href="#">ナビ2</a>
        </li>
        <li>
          <a href="#">ナビ3</a>
        </li>
        <li>
          <a href="#">ナビ4</a>
        </li>
      </ul>
    </nav>
  </header>

  <main class="main">
    <div class="container">
      {% block content %}{% endblock %}
      <div class="button__wrapper">
        <a href="/" class="button">トップページへ戻る</a>
      </div>
    </div>
  </main>

  <footer>
    <div class="container">
      <address>Copyright(C)ここに年 個人名or会社名,Allright Reserved.</address>
    </div>
  </footer>
</body>
<script src="/assets/js/main.js"></script>
</html>
