<head>
  <title>{{ siteData.title }}：{{ title }}</title>
  <meta charset="UTF-8">
  {%-  if description %}
  <meta name="description" content="{{ description }}">
  {%- else %}
    <meta name="description" content="JS勉強用のサイトです。">
  {%- endif %}
  <link href="/assets/css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
<header>
  <div class="container">
    <nav>
      <ul class="global-nav">
        <li>
          <a href="#">ナビ1</a>
        </li>
        <li>
          <a href="#">ナビ2</a>
        </li>
        <li>
          <a href="#">ナビ3</a>
        </li>
        <li>
          <a href="#">ナビ4</a>
        </li>
      </ul>
    </nav>
  </div>
</header>

<main class="main">
{% block content %}

{% endblock %}
</main>

  <div class="container">
    <p><a href="/" class="btn">トップページへ戻る</a></p>
  </div>

<footer>
  <div class="container">
    <address>Copyright(C)ここに年 個人名or会社名,Allright Reserved.</address>
  </div>
</footer>
</body>
<script src="/assets/js/main.js"></script>
</html>
