---
title: gsapdemo
listDisplay: true
---
{% extends "base.njk" %}

{% block content %}
  <h1>{{title}}</h1>

  <button class="gsapButton">セクション1</button>
  <button class="gsapButton">セクション2</button>
  <button class="gsapButton">セクション3</button>
  <button class="gsapButton">セクション4</button>

<section id="section1" style="margin-top:80px;background-color:aqua;">
  あああ<br>
  あああ<br>
  あああ<br>
  あああ<br>
  あああ
</section>

<section id="section2" style="margin-top:80px;background-color:aqua;">
  あああ<br>
  あああ<br>
  あああ<br>
  あああ<br>
  あああ
</section>

<section id="section3" style="margin-top:80px;background-color:aqua;">
  あああ<br>
  あああ<br>
  あああ<br>
  あああ<br>
  あああ
</section>

<section id="section4" style="margin-top:80px;background-color:aqua;">
  あああ<br>
  あああ<br>
  あああ<br>
  あああ<br>
  あああ
</section>

<section id="section5" style="margin-top:80px;background-color:aqua;">
  あああ<br>
  あああ<br>
  あああ<br>
  あああ<br>
  あああ
</section>

<section id="section6" style="margin-top:80px;background-color:aqua;">
  あああ<br>
  あああ<br>
  あああ<br>
  あああ<br>
  あああ
</section>

<section id="section7" style="margin-top:80px;background-color:aqua;">
  あああ<br>
  あああ<br>
  あああ<br>
  あああ<br>
  あああ
</section>

<section id="section8" style="margin-top:80px;background-color:aqua;">
  あああ<br>
  あああ<br>
  あああ<br>
  あああ<br>
  あああ
</section>

<section id="section9" style="margin-top:80px;background-color:aqua;">
  あああ<br>
  あああ<br>
  あああ<br>
  あああ<br>
  あああ
</section>

<section id="section10" style="margin-top:80px;background-color:aqua;">
  あああ<br>
  あああ<br>
  あああ<br>
  あああ<br>
  あああ
</section>

<section id="section11" style="margin-top:80px;background-color:aqua;">
  あああ<br>
  あああ<br>
  あああ<br>
  あああ<br>
  あああ
</section>


{% endblock %}
