---
title: モーダル
listDisplay: true
---
{% extends "base.njk" %}

{% block content %}
  <h1>{{title}}</h1>

  <div class="modal__button" data-target="modal01">ボタン01</div>

  <div class="modal" id="modal01">
    <div class="modal__background"></div>
    <div class="modal__inner">
      <p>コンテンツ内容</p>
      <p>コンテンツ内容</p>
      <p>コンテンツ内容</p>
      <p>コンテンツ内容</p>
      <p>コンテンツ内容</p>
      <p>コンテンツ内容</p>
      <p>コンテンツ内容</p>
      <p>コンテンツ内容</p>
      <p>コンテンツ内容</p>
      <p>コンテンツ内容</p>
      <p>コンテンツ内容</p>
      <p>コンテンツ内容</p>
      <p>コンテンツ内容</p>
      <p>コンテンツ内容</p>
      <p>コンテンツ内容</p>
      <p>コンテンツ内容</p>
      <p>コンテンツ内容</p>
      <p>コンテンツ内容</p>
      <p>コンテンツ内容</p>
      <p>コンテンツ内容</p>
      <p>コンテンツ内容</p>
      <p>コンテンツ内容</p>
      <p>コンテンツ内容</p>
      <p>コンテンツ内容</p>
      <p>コンテンツ内容</p>
      <p>コンテンツ内容</p>
      <p>コンテンツ内容</p>
      <p>コンテンツ内容</p>
      <p>コンテンツ内容</p>
      <p>コンテンツ内容</p>
      <p>コンテンツ内容</p>
      <p>コンテンツ内容</p>
      <p>コンテンツ内容</p>
      <p>コンテンツ内容</p>
      <p>コンテンツ内容</p>
      <p>コンテンツ内容</p>
      <p>コンテンツ内容</p>
      <p>コンテンツ内容</p>
      <p>コンテンツ内容</p>
      <p>コンテンツ内容</p>
      <p>コンテンツ内容</p>
      <p>コンテンツ内容</p>
      <p>コンテンツ内容</p>
      <p>コンテンツ内容</p>
      <p>コンテンツ内容</p>
      <p>コンテンツ内容</p>
      <p>コンテンツ内容</p>
      <p>コンテンツ内容</p>
      <p>コンテンツ内容</p>
      <p>コンテンツ内容</p>
    </div>
  </div>

  <div class="modal__button" data-target="modal02">ボタン02</div>
  <div class="modal" id="modal02">
    <div class="modal__background"></div>
    <div class="modal__inner">
      <p>コンテンツ内容</p>
      <p>コンテンツ内容</p>
      <p>コンテンツ内容</p>
      <p>コンテンツ内容</p>
      <p>コンテンツ内容</p>
      <p>コンテンツ内容</p>
      <p>コンテンツ内容</p>
      <p>コンテンツ内容</p>
      <p>コンテンツ内容</p>
      <p>コンテンツ内容</p>
      <p>コンテンツ内容</p>
      <p>コンテンツ内容</p>
      <p>コンテンツ内容</p>
      <p>コンテンツ内容</p>
      <p>コンテンツ内容</p>
      <p>コンテンツ内容</p>
      <p>コンテンツ内容</p>
      <p>コンテンツ内容</p>
      <p>コンテンツ内容</p>
      <p>コンテンツ内容</p>
      <p>コンテンツ内容</p>
      <p>コンテンツ内容</p>
    </div>
  </div>
{% endblock %}
