---
title: インデックス
---

{% extends "base.njk" %}

{% block content %}
<div class="container">
  <h1 class="heading-h1">JS勉強サイト</h1>
  <div class="banner">
  {%- for page in collections.all -%}
  {%- if page.data.listDisplay %}
    <a href="{{ page.url }}" class="banner__item">
      <div>
        <h2>{{page.data.title}}</h2>
      </div>
      <p>{{ page.data.discription }}</p>
    </a>
  {%- endif %}
  {%- endfor -%}
  </div>
</div>
{% endblock %}
